@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    -webkit-tap-highlight-color: transparent;
    -webkit-font-smoothing: antialiased;
  }

  body {
    @apply bg-slate-100 text-gray-900 font-sans;
  }

  input[type="date"],
  input[type="search"],
  input[type="number"],
  input[type="email"],
  input[type="password"],
  input[type="text"],
  input[type="tel"],
  select,
  textarea {
    @apply text-base; /* prevents iOS zoom on focus */
  }

  /* Keep form controls at text-base on all breakpoints for readability */

  /* Prevent mouse-wheel from changing focused number / range values */
  input[type='number'],
  input[type='range'] {
    -moz-appearance: textfield;
  }

  input[type='number']::-webkit-outer-spin-button,
  input[type='number']::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
}

@layer utilities {
  .safe-bottom {
    padding-bottom: env(safe-area-inset-bottom);
  }

  .hide-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }

  .hide-scrollbar::-webkit-scrollbar {
    display: none;
  }
}
