@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    -webkit-tap-highlight-color: transparent;
    -webkit-font-smoothing: antialiased;
  }

  body {
    @apply bg-slate-100 text-gray-900 font-sans;
  }

  input[type="date"],
  input[type="search"],
  input[type="number"],
  input[type="email"],
  input[type="password"],
  input[type="text"],
  input[type="tel"] {
    @apply text-base; /* prevents iOS zoom on focus */
  }
}

@layer utilities {
  .safe-bottom {
    padding-bottom: env(safe-area-inset-bottom);
  }

  .hide-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }

  .hide-scrollbar::-webkit-scrollbar {
    display: none;
  }
}
